version: '3'

services:
  arangodb:
    image: arangodb/arangodb:3.11.1
    environment:
      - ARANGO_NO_AUTH=1
    ports:
      - "8529:8529"
  
  elasticsearch:
    image: elasticsearch:8.14.0
    environment:
      - node.name=es
      - cluster.name=docker-cluster
      - discovery.type=single-node
      - xpack.security.enabled=false
      - 'ES_JAVA_OPTS=-Xms2g -Xmx2g'
    ports:
      - '9200:9200'

  kibana:
    image: kibana:8.14.0
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - '5601:5601'