name: "CI kafka"

on:
  pull_request:
    branches:
      - main
    paths:
      - 'pubsubx/kafkax/**'
      

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.21.1'
      - run: cat .env >> $GITHUB_ENV || true
      - run: docker compose up -d
      - run: go run github.com/ThreeDotsLabs/wait-for@latest localhost:9091 localhost:9092 localhost:9093 localhost:9094 localhost:9095
      - run: make test_kafka
        timeout-minutes: 30
      - run: make test_kafka_short
      - run: make test_kafka_race

      